{% extends "shop.html" %}

{% block card %}
<!-- Start Column 1 -->
<div class="col-12 col-md-4 col-lg-3 mb-5">
    <div class="all">

        <a class="product-item" href="{{products.get_absolute_url}}">
            <div class="product-thumbnail-wrapper">
                <img src="{{products.image.url}}" class="img-fluid product-thumbnail">
            </div>
            <br>
            <h3 class="product-title">{{products.title}}</h3>
            <strong class="product-price">{{products.price}}</strong>
        </a>
    </div>
</div>


{% endblock card %}
