{% extends "shop.html" %}

{% block card %}
<!-- Start Column 1 -->
<div class="col-12 col-md-4 col-lg-3 mb-5">
    <div class="all">

        <a class="product-item" href="{{products.get_absolute_url}}">
            <div class="product-thumbnail-wrapper">
                <img src="{{products.image.url}}" class="img-fluid product-thumbnail">
            </div>
            <br>
            <h3 class="product-title">{{products.title}}</h3>
            <strong class="product-price">{{products.price}}</strong>
        </a>
    </div>
</div>

<style>
	.product-thumbnail-wrapper {
		width: 300px;
		height: 400px; /* Задайте необходимую высоту */
		overflow: hidden;
		position: relative;
		border-radius: 10px;

	}
	
	.product-thumbnail {
		width: 300px;
		height: 400px;
		object-fit: cover; /* Это свойство обрезает изображение по центру */
		object-position: center; /* Центрирование изображения */
		border-radius: 10px;
	}
    .all {
        border: 2px rgb(233, 233, 233) solid;
		border-radius: 15px;
    }
    </style>
    
{% endblock card %}
