{% extends 'base.html' %}
{% load static %}


{% block content %}
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

	<div class="container">
		<a class="navbar-brand" href="{% url 'index' %}">Furni<span>.</span></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
				<li class="nav-item ">
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>
				<li class="active"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
				<li><a class="nav-link" href="{% url 'about' %}">About us</a></li>
				<li><a class="nav-link" href="{% url 'services' %}">Services</a></li>
				<li><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
				<li><a class="nav-link" href="{% url 'contact' %}">Contact us</a></li>
			</ul>

			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<li><a class="nav-link" href="#"><img src="{% static 'images/user.svg' %}"></a></li>
				<li><a class="nav-link" href="{% url 'cart' %}"><img src="{% static 'images/cart.svg' %}"></a></li>
			</ul>
		</div>
	</div>
		
</nav>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Shop</h1>
					</div>
				</div>
				<div class="col-lg-7">
					
				</div>
			</div>
		</div>
	</div>
<!-- End Hero Section -->


<div class="untree_co-section product-section before-footer-section">
	<div class="container">
		{% block card %}
		<div class="row">
			{% for item in product %}
			<!-- Start Column 1 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5">
				<div class="all_product">
				<a class="product-item" href="{{item.get_absolute_url}}">

						<div class="product-thumbnail-wrapper">
							<img src="{{item.image.url}}" class="img-fluid product-thumbnail">
						</div>
						<br>
						<h3 class="product-title">{{item.title}}</h3>
						
						<strong class="product-price">${{item.price}}</strong>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endblock card %}
	</div>
</div>

<style>
	.product-thumbnail-wrapper {
		width: 300px;
		height: 400px; /* Задайте необходимую высоту */
		overflow: hidden;
		position: relative;
		border-radius: 10px;

	}
	
	.product-thumbnail {
		width: 300px;
		height: 400px;
		object-fit: cover; /* Это свойство обрезает изображение по центру */
		object-position: center; /* Центрирование изображения */
		border-radius: 10px;
	}
	.all_product {
		border: 2px rgb(233, 233, 233) solid;
		border-radius: 15px;
	}
</style>

{% endblock content %}